shamefully-hoist=true  ## 一般教程都是这样配置的：shamefully-hoist=true，但本人不推荐。这样做会把里面的依赖提升到全局node_module里面，有可能出现幽灵依赖的风险。
strict-peer-dependencies=false
shell-emulator=true
detect_chromedriver_version=true
strict-peer-dependencies=false
registry =http://registry.npmmirror.com
